@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<eStore_WebMVC.Dto.OrderDetailViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Add" asp-controller="OrderDetail">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                Product Name
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Discount
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.OrderDetail.UnitPrice)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.OrderDetail.Quantity)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.OrderDetail.Discount)
            </td>
            <td>



                    <a asp-controller="OrderDetail" asp-action="Delete" asp-route-id="@item.OrderDetail.OrderDetailId" asp-route-orderId="@ViewBag.orderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
